<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @grade.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grade.description %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
